@tailwind base;
@tailwind components;
@tailwind utilities;


.sidenav{
    background-color:rgba(1, 90, 1,0.3);
    backdrop-filter: blur(10px);
}

::-webkit-scrollbar{
    display: none;
}

.blog{
    box-shadow: 1px 1px 20px black;
}

.active{
    color: yellow;
}