@tailwind base;
@tailwind components;
@tailwind utilities;

.glass{
    background-color: rgb(9, 9, 9,0.3);
    backdrop-filter: blur(7px);
    transition: all ease 0.3s;
    transform: translateX(100%);
  }
  .glass2{
  background-color: rgb(9, 9, 9,0.3);
  backdrop-filter: blur(7px);
}
.shad{
    box-shadow: 0px 0px 10px rgb(0, 0, 0,0.2);
}
.card{
    box-shadow: 0px 0px 10px rgb(0, 0, 0,0.2);
    background: linear-gradient(360deg,rgb(31, 56, 89),rgb(102, 198, 253));
    /* background: linear-gradient(360deg,rgb(5, 80, 51),rgb(0, 255, 208)); */
}
.prod{
    background: linear-gradient(to top right, rgb(102, 198, 253), rgb(31, 56, 89));
}
.prodform{
    background: linear-gradient(to top right, rgb(31, 56, 89),rgb(102, 198, 253));
}
.img{
    transition: all ease 1s;
}

::-webkit-scrollbar{
    display: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, green var(--value, 0%), #ddd var(--value, 0%));
    height: 5px;
    border-radius: 5px;
  }
  
  input[type="range"]::-moz-range-track {
    background: linear-gradient(to right, green var(--value, 0%), #ddd var(--value, 0%));
    height: 5px;
    border-radius: 5px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    border: 2px solid green;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-top: -7px;
  }
  
  input[type="range"]::-moz-range-thumb {
    background: white;
    border: 2px solid green;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  
  input[type="range"] {
    --value: 0%;
    width: 90%;
    height: 5px;
  }
  